numpy
scipy
matplotlib
plotly

ipykernel
h5py
pandas

scikit-learn
seaborn

torch
torchsummary
torcheval
torchinfo
fastprogress
tqdm

networkx
ripser
persim
gudhi
teaspoon


git+https://github.com/KellerJordan/Muon


psutil



visualtorch